.gameboard{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin:auto;
    border:3px solid white;
    padding: 10px;
    width:600px;
}
.gamebox{
    width: 150px;
    height : 150px;
    border:3px solid white;
    background:black;
    padding:20px;
    color:white;
}